/* Global Styles */ 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #fdfcff;
    --card-color: #ffffff;
    --secondary-color: #4B4BEF;
    --text-color: #110320;
    --accent-color: #FF4524;
    --secondary-color-accent: #767cf5;

    --font-size: 16px;
    --heading-font-size: 24px;
    --main-heading-font-size: 28px;
    --border-radius: 12px;

    --main-heading-font: 'Poppins', sans-serif;
    --body-text-font: 'Source Sans 3', sans-serif;
    --letter-margin: 0.5em;
    --letter-spacing: 0.1em;

}


/* Layout Styles */
body {
    font-family: var(--body-text-font);
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
}

#AppContainer {
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
  
   
}

main {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 20px;
 
}

.app-header {
    text-align: left;
    margin-bottom: 40px;
    width: 100%;

    border:#4B4BEF solid 2px;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    color: var(--text-color);
    font-family: var(--main-heading-font);
    font-size: var(--main-heading-font-size);
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.task-column h2 {
   background-color: var(--secondary-color-accent);
    color: var(--primary-color);
    padding: 10px;
    border-radius: var(--border-radius);
    text-align: center;
}


/* sidebar & Form styles */
.task-sidebar {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    color: var(--primary-color);
   
    border-radius: var(--border-radius);
    margin-bottom: 20px;
   
}

.add-task-panel {
    background-color: var(--text-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.completed-task-panel {
    background-color: var(--text-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-sidebar form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#taskForm label {
  
    margin-bottom: 5px;
    font-weight: bold;
   
}

#taskForm input[type="text"],
#taskDescription,
#taskForm select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    color: gray;
}

.checkbox-group {
    display: flex;
    gap: 20px;
    margin: 40px 0 10px;
   justify-content: center;
}

input[type="checkbox"] {
  display: none;

} 

.checkbox-group label {
  padding: 8px 12px;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color-accent);
  cursor: pointer;
}

.checkbox-group label:has(input[type="checkbox"]:checked) {
  background-color: var(--accent-color);
}

button[type="submit"] {
   
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--body-text-font);
    font-family: var(--main-heading-font);
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--accent-color);
}
